
/*font-family: 'Quicksand', sans-serif;
font-family: 'Vidaloka', serif; */


/*  Syling for Header.  */

.logo{
    /* display: block; */
    height: 398px;
    width: 1443px;  
  
}

.inline-block {
    display: inline-block;
    vertical-align: center;
    padding-top: 50px;
    height: 100px;
}

.block {
    display: block;
    text-align: center;
    background-color: #FF6392;
}

.navsize{
    height: 76px;
}

li {
    padding-left: 75px;
    padding-right: 25px;
}

.carousel-inner{
    height: 448px;

}


.hometext1 {
padding-left: 1em;
padding-right: 1em;


}
.corpevents{
    padding-top: 50px;

}

.corpeventfont{
    font-size: 36px;
    font-family: 'Vidaloka', serif;
    font-weight: bold;
}


.hpButtonColor{
    background: #FF6392;
    border-color: #FF6392;
    border-radius: 25px;
    height: 60px;
    width: 280px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    
}

.reviews{
    padding-top: 50px;
  
}


.footerMenu{
    color: #FFFFFF;
    text-align: center;
    background: #004E8A;
    margin: 0%;
}

.footerHours{
    color: #FFFFFF;
    text-align: center;
    background: #003C6A;
    margin: 0%;
}

.qsb20{
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
}


.qs20{
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
}

.footerpadding{

    padding-right: 0px;
    padding-left: 50px;
}

.socialpadding{
    padding-left: 25px;
}