
/*font-family: 'Quicksand', sans-serif;
font-family: 'Vidaloka', serif; */

/*  Syling for Fonts  */

.qsb20{
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
}


.qs20{
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
}

/*  Syling for Header.  */

.logo{
    height: 398px;
    width: 1443px;  
}

.inline-block {
    display: inline-block;
    vertical-align: center;
    padding-top: 25px;
    height: 100px;  
}

.navbar-light {
    background-color: #FF6392;
}

.navbar-light2 {
    background-color: #004E8A;
}

  .bg-light {
 
    background-color: #FF6392 !important;
    color: white;
     border: none;
  }

  .bg-light2 {
 
    background-color: #004E8A !important;
    color: white;
     border: none;

  }

.tcNav {
    display: block;
    padding: .5rem 0 .5rem 1rem;
    font-size: 20px;
  }
  .aboutTextColor {
    color: white;
  }

.block {
    display: block;
    text-align: center;
    background-color: #FF6392;
}

.navFontColor{
color:#FFFFFF
}

.navsize{
    height: 76px;
}


.navcart{
    padding-left: 50px;
}


li {
    padding-left: 75px;
    padding-right: 25px;
}

.li2 {
    padding-left: 60px !important;
    padding-right: 25px;
}

.li2 a:hover {
    color: #FF6392;
}

.li3 {
    padding-left: 10px !important;
    padding-right: 25px;
}

.li3 img:hover {
    color: #FF6392;
}


/*  Syling for Carousel  */

.carousel img {
    width:100%;
    padding-left: 50px;
    padding-right: 50px;
}
.carousel-second img {
    width:100%;
}

.jumbotron {
    color: gray;
    background-image: url('../images/Header\ with\ Logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 398px;
    margin-bottom: 0px;
}

/*  Syling for Main home text  */

.hometext1 {
padding-top: 75px;
    padding-left: 1em;
padding-right: 1em;

/*  Syling for Corp Events.  */

}
.corpevents{
    padding-top: 175px;
    padding-bottom: 175px;

}

.corpeventsalign{
    padding-left: 150px;
}

.corpeventfont{
    font-size: 36px;
    font-family: 'Vidaloka', serif;
    font-weight: bold;
}

/*  Syling for Corp Events Button.  */

.hpButtonColor{
    background: #FF6392;
    border-color: #FF6392;
    border-radius: 25px;
    height: 60px;
    width: 280px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    
}

.hpButtonColor:hover{

    background: #D04A72;
    border-color: #AE3B5E;
    border: 5px solid#AE3B5E;  
}

/*  Syling for Reviews  */

.reviews{
    padding-top: 25px;
    padding-bottom: 25px;
  
}

/*  Syling for Footer  */

.footerMenu{
 
    color: #FFFFFF;
    text-align: center;
    background: #004E8A;
    margin: 0%;  
  
}

.verticleSpacing{
    display:flex;
    justify-content:center;
    align-items:center;
   
}

.footerHours{
    color: #FFFFFF;
    text-align: center;
    background: #003C6A;
    margin: 0%;
    padding-top: 25px;
    padding-bottom: 25px;
    
}



.footerlogopadding{
    padding-right: 75px;
}

.footerpadding{

    padding-right:82px;
    padding-left: 82px;
}

.socialpadding{
    padding-left: 25px;
}


/*  Test troubleshooting Syling for Nav  */


ul.Heading{
list-style-type: none;
padding: 0px;
margin: 0px;
text-align: center;
}


li.HeadingLogo{
display: inline-block;
padding-top: 0px;
padding-bottom: 0px;
padding-right: 0px;
padding-left: 10px;
margin: 0px;
height: 100px;
line-height: 100px;
vertical-align: bottom;
}

li.HeadingMenu{
display: inline-block;
padding-top: 0px;
padding-bottom: 0px;
padding-right: 0px;
padding-left: 450px;
margin: 0px;
height: 100px;
line-height: 100px;
vertical-align: bottom;
}


li.Heading{
display: inline-block;
padding-top: 0px;
padding-bottom: 0px;
padding-right: 0px;
padding-left: 100px;
margin: 0px;
height: 100px;
line-height: 100px;
vertical-align: bottom;
}

li.HeadingSocialMedia{
display: inline-block;
padding-top: 0px;
padding-bottom: 0px;
padding-right: 0px;
padding-left: 10px;
margin: 0px;
height: 100px;
line-height: 100px;
vertical-align: bottom;
}

.Headinglogo2
{
display: inline-block;
padding-top: 0px;
padding-bottom: 0px;
padding-right: 100px;
padding-left: 0px;
margin: 0px;
height: 100px;
line-height: 100px;
vertical-align: middle;
}

.colmargin {
    margin-left: 50px;
}

li.Headingsocial
{
display: inline-block;
padding-top: 0px;
padding-bottom: 0px;
padding-right: 0px;
padding-left: 25px;
margin: 0px;
height: 100px;
line-height: 100px;
vertical-align: bottom;
}


.navbar-toggler-icon2{
    color: #FFFFFF
}


.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    color:#FFFFFF !important;
}